<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 hello_user text-center">
      <h1>Work Record</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= form_tag attending_path, method: :post do %>
      <input type="hidden" name="minute" value="<%=  %>">
      <button type='submit' name='attending' value='*' class="btn btn-lg btn-default menu_button">出勤</button>
      <% end %>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= link_to '退勤',     {:controller => :top_page, :action => :leaving}, :class => 'btn btn-info menu_button' %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= link_to '出勤履歴', {:controller => :top_page, :action => :attending}, :class => 'btn btn-info menu_button' %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= link_to '給料計算', {:controller => :top_page, :action => :attending}, :class => 'btn btn-info menu_button' %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <%= link_to '時給設定', {:controller => :top_page, :action => :attending}, :class => 'btn btn-info menu_button' %>
    </div>
  </div>
</div>
